@model IEnumerable<UCode.App.ViewModels.ComprovanteViewModel>

@{
    ViewData["Title"] = "Lista Comprovante";
}

<h1>@ViewData["Title"]</h1>


<p>
    <a class="btn btn-info" asp-action="Create">Novo Comprovante</a>
</p>
</p>
<style>
    .table-hover td, 
    .table-hover th 
    {
        font-size: 0.8em; /* Ajuste este valor conforme necessário */
    }
</style>
<table id="idTab" class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Progressao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atividade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFinal)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Arquivo)
            </th>            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Progressao.Observacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Atividade.Detalhes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFinal)
                </td>
                <td>                  
                    <img src="~/imagens/@item.Arquivo" alt="Comprovante" style="width: 40px; height: 38px" />               
                </td>               
                
                <td class="text-right-long">
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/site.js"></script>
}