@model UCode.App.ViewModels.AtividadeViewModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>@ViewData["Title"]</h1>

<div>   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pontos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pontos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalhes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalhes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Campo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Campo.Nome)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning"asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>
