@model IEnumerable<UCode.App.ViewModels.ProgressaoViewModel>


@{
    ViewData["Title"] = "Lista Progressao";
}

<h1>@ViewData["Title"]</h1>
<hr />
<vc:summary></vc:summary>

<p>
    <a class="btn btn-info" asp-action="Create">Nova Progressao</a>
</p>
<table id="idTab" class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFinal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Classe.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFinal)
                </td>
                <td class="text-right-long">
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/site.js"></script>
}