@model UCode.App.ViewModels.CampusViewModel

@{
    ViewData["Title"] = "Detalhes";
}
<h1>@ViewData["Title"]</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a class="btn btn-info" asp-action="Index">Volta</a>
</div>

<div>
    <partial name="_DetalhesEndereco" />
</div>

