@model UCode.App.ViewModels.SituacaoViewModel

@{
    ViewData["Title"] = "Situação";
}

<h1>@ViewData["Title"]</h1>


<div>
    <hr />
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Movimentaçao Em</th>
                <th>Detalhes</th>
                <th>Descrição de Status</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.MovimentadoEm)</td>
                <td>@Html.DisplayFor(model => model.Detalhes)</td>
                <td>@Html.DisplayFor(model => model.Status.Descricao)</td>

            </tr>
        </tbody>
    </table>
<div/>

<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>
