@model IEnumerable<UCode.App.ViewModels.SituacaoViewModel>
@{
    ViewData["Title"] = "Lista Situações";
}

<h1>@ViewData["Title"]</h1>
<vc:summary></vc:summary>
<p>
    <a class="btn btn-info" asp-action="Create">Nova Situação</a>
</p>

<table id="idTab" class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovimentadoEm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalhes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovimentadoEm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detalhes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Descricao)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/site.js"></script>
}